# GVMS — Graphical Visualization Management System - Environment Variables

# App Setup
PROJECT_NAME="GVMS — Graphical Visualization Management System"
COMPOSE_PROJECT_NAME=gvms
ENVIRONMENT=production
SECRET_KEY=ongc_lab_super_secret_jwt_key_32bytes_min_length_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database Provider Selection ("postgres" or "oracle")
DATABASE_PROVIDER=oracle

# Database (PostgreSQL)
POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=ongc_lab
POSTGRES_USER=ongc_admin
POSTGRES_PASSWORD=ONGC_Lab_Secure_Pass2026!
DATABASE_URL=postgresql://ongc_admin:ONGC_Lab_Secure_Pass2026!@postgres:5432/ongc_lab

# Database (Oracle - Active when DATABASE_PROVIDER=oracle)
# - ORACLE_HOST: Enter your Hostname or IP Address
# - ORACLE_USER: Enter your database Username (or Project Username if it acts as the schema login user)

# Metabase Config
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase_db
MB_DB_PORT=5432
MB_DB_USER=ongc_admin
MB_DB_PASS=ONGC_Lab_Secure_Pass2026!
MB_DB_HOST=postgres
METABASE_URL=http://metabase:3000
METABASE_PUBLIC_URL=http://localhost:8080/metabase
METABASE_EMBED_SECRET_KEY=23485ab9403816ca3de0927df8b461b3690d5fcd715456209be3cd1ef381da23
METABASE_DASHBOARD_ID=1

# Initial Admin Credentials
FIRST_SUPERUSER=admin@ongc.co.in
FIRST_SUPERUSER_PASSWORD=Admin@123456
FIRST_SUPERUSER_NAME="GVMS Chief Geochemist"

# Ports
REACT_PORT=3001
FASTAPI_PORT=8001
METABASE_PORT=3002
POSTGRES_PORT_HOST=5433
NGINX_PORT=8080
